




<div class="container" style="padding-top: 50px;">


<%= simple_form_for [ @offer, @booking ] do |f| %>


  <div class="form-group">
  <p>Start Date</p><input type="date" ><br><br>
  </div>
  <div class="form-group">
  <p>End Date</p><input type="date" >
  </div>

  <div class="form-group">
  <%= f.input :place %>
  </div>
  <div class="form-group">

</div>
<input type="submit" name="commit" value="Book the DJ" class="button" data-disable-with="Book the DJ">
<% end %>
</form>

</div>

