
<div class="js1">

<a id="js" href="/offers">
      <span class="lol">Y</span>
      <span class="lol">O</span>
      <span class="lol">U</span>
      <span class="lol">R</span>
      <span class="lol">.</span>
      <span class="lol">D</span>
      <span class="lol">A</span>
      <span class="lol">S</span>
      <span class="lol">H</span>
      <span class="lol">B</span>
      <span class="lol">O</span>
      <span class="lol">A</span>
      <span class="lol">R</span>
      <span class="lol">D</span>

    </a>
</div>
<br>

<%= render "dashboard" %>


