<div class="js">
  <div id="add-padding-bottom">
    <a id="js" href="/offers">
      <span class="lol">A</span>
      <span class="lol">I</span>
      <span class="lol">R</span>
      <span class="lol">.</span>
      <span class="lol">D</span>
      <span class="lol">J</span>
      <span class="lol">.</span>
      <span class="lol">B</span>
      <span class="lol">Y</span>
      <span class="lol">.</span>
      <span class="lol">N</span>
      <span class="lol">I</span>
      <span class="lol">G</span>
      <span class="lol">H</span>
      <span class="lol">T</span>
    </a>
  </div >
  <h1 id="find_best">Find the best dj for your events</h1>
</div>
