

<h2 class="home"> <span>ALL THE DJ </span></h2>

<div class="container">
<p >Number of offers : <%= @offers.count %></p>
<% @offers.each do |offer| %>

<div class="card-product mb-4">
  <img src="https://res.cloudinary.com/dos4x9flk/image/upload/c_scale,h_1000,q_100,r_50,w_1000/v1591032643/Calque_1_cn3q4e.png" />
  <div class="card-product-infos">
    <h2><%= link_to offer.title, offer_path(offer) %></h2>
    <p><%= offer.price_per_day %> $</p>
    <p><%= offer.description %></p>
  </div>
</div>

<% end %>
<a class="button" href="/offers/new">Propose tes services</a>
</div>
